<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path 'photo-1514933651103-005eec06c04b_ymdgh2' %>');">
  <div class="container">
    <h1>Welcome !</h1>
    <p>List of our Cocktails</p>
  </div>
</div>

<div class="container mt-3">
  <div class="row d-flex flex-row justify-content-between">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cards">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag @cocktail.photo.key %>')">
              <%= cocktail.name %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<div class="d-flex justify-content-center container m-15">
  <p><%= link_to "Add Cocktail", new_cocktail_path(@cocktail), class: "btn btn-flat" %></p>
</div>

