<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path 'Mister-cocktail/photo-1514933651103-005eec06c04b_ymdgh2' %>');">
  <div class="container" id='#'>
    <h1>Welcome to your own Cocktail Bar!</h1>
    <p>Prepare the cocktail of your dreams</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 pt-2">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Map</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card-body">
            <h5 class="card-title">Popular Cocktails</h5>
            <p class="card-text">
              <div class="container mt-3">
                <div class="row d-flex flex-row justify-content-between">
                  <div class="my-container">
                    <% @cocktails.each do |cocktail| %>
                    <%= link_to cocktail_path(cocktail) do %>
                      <div class="cards">
                            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo %>')">
                            <%= cocktail.name %>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
                </div>
            </p>
            <div class="d-flex justify-content-center container m-15">
              <p><%= link_to "Add Cocktail", new_cocktail_path(@cocktail), class: "btn btn-flat" %></p>
            </div>
          </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div
            id="map"
            style="width: 100%;
            height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
