<%= render 'components/navbar' %>
<%= render 'components/banner-homepage' %>

<% @cocktails.each do |cocktail| %>
  <% if cocktail.photo.attached? %>
    <% image_uploaded = cl_image_path(cocktail.photo) %>
  <% else %>
    <% image_uploaded = cl_image_path 'Mister-cocktail/photo-1545438102-799c3991ffb2_gwtmdx' %>
  <% end %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 pt-2">

      <!-- Popular Cocktails -->
      <%= form_tag root_path, method: :get, id: 'search-cocktails', class: 'form-inline' do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control ml-auto mr-2",
          placeholder: "Find your cocktail"
        %>
      <%= submit_tag "Search", class: "btn-search btn-primary mr-auto ml-2" %>
      <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-warning"><%= flash[:alert] %></div>
        <% end %>

        <div class="card-body">
          <% if current_user %>
            <h5 class="card-title">Your Cocktails</h5>
              <div class="container mt-3">
                <div class="row d-flex flex-row justify-content-between">

                  <div class="my-container">
                    <% @cocktails.each do |cocktail| %>
                    <%= link_to cocktail_path(cocktail) do %>
                      <div class="cards">
                        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(
                          <% if cocktail.photo.attached? %>
                            <%= image_uploaded = cl_image_path(cocktail.photo) %>
                          <% else %>
                            <%= image_uploaded = cl_image_path 'Mister-cocktail/photo-1545438102-799c3991ffb2_gwtmdx' %>
                          <% end %>
                        )">
                          <h3><%= cocktail.name %></h3>
                        </div>
                      </div>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <div class="d-flex justify-content-center container m-15">
            <p><%= link_to "Add Cocktail", new_cocktail_path(@cocktail), class: "btn btn-flat" %></p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Popular Cocktails</h5>
          <div class="container mt-3">
            <div class="row d-flex flex-row justify-content-between">
              <div class="my-container">
                <% @cocktails_api.each do |cocktail| %>
                <%#= link_to cocktail_path(cocktail) do %>
                <div class="cards">
                  <div class="card-category"
                    style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= cocktail["strDrinkThumb"] %>')">
                    <h3><%= cocktail["strDrink"] %></h3>
                  </div>
                </div>
                  <!-- <ul id="results"
                    data-markers="<%#= @cocktail_api.to_json %>">
                  </ul> -->
                <%# end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
