<%= render 'components/navbar' %>
<%= render 'components/banner-homepage' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 pt-2">

<!-- Popular Cocktails -->
<%= form_tag root_path, method: :get, id: 'search-cocktails', class: 'form-inline' do %>
<%= text_field_tag :query,
    params[:query],
    class: "form-control ml-auto mr-2",
    placeholder: "Find your cocktail"
  %>
<%= submit_tag "Search", class: "btn-search btn-primary mr-auto ml-2" %>
<% end %>

        <div class="card-body">
          <h5 class="card-title">Your Cocktails</h5>
            <div class="container mt-3">
              <div class="row d-flex flex-row justify-content-between">

                <div class="my-container">
                  <% @cocktails.each do |cocktail| %>
                  <%= link_to cocktail_path(cocktail) do %>
                    <div class="cards">
                          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo %>')">
                          <%= cocktail.name %>
                        </div>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <div class="d-flex justify-content-center container m-15">
            <p><%= link_to "Add Cocktail", new_cocktail_path(@cocktail), class: "btn btn-flat" %></p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Popular Cocktails</h5>
          <div class="container mt-3">
            <div class="row d-flex flex-row justify-content-between">
              <div class="my-container">
                  <ul id="results"
                    data-markers="<%= @cocktail_api.to_json %>">
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
