<%= render 'components/banner-show' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-8">

      <div id="doses">
        <% if @cocktail.doses.blank? %>
          Be the first to add an ingredient for <%= @cocktail.name %> !
        <% else %>
          <% @cocktail.doses.each do |dose|%>
            <div class="card-product">
              <%= cl_image_tag 'eDgMQQrHrVAV3b6UZefiFW4p', height: 300, width: 400, crop: :fill %>
              <div class="card-infos">
                <div data-cocktail-id="<%= @cocktail.id %>" class="card-product-actions">
                  <h2> <%= dose.ingredient.name %></h2>
                  <p><%= dose.description %></p>
                </div>
                <div class="card-product-btns">
                  <%= link_to dose, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <%= link_to dose, method: :edit do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4 col-md-4">
        <div class="card-product-infos">
          <h2> HOW TO... </h2>
          <p><%= @cocktail.description_drink %></p>
          <div id="description"></div>
            <div class="block">
              <div class="content">
                <p class="js-excerpt excerpt-hidden"><%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %></p>
              </div>
              <a role="button" class="js-read-more" href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 w-100 mt-3 text-align-center btns-bottom">
      <%= link_to "<< Back to Cocktails", root_path, class: "btn-flat" %>
      <%= link_to "Add Ingredients >>", new_cocktail_dose_path(@cocktail), class: "btn-flat" %>
    </div>
  </div>
</div>

