<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo %>')">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
        <div id="typed-strings">
         <p>Typed.js is a <strong>JavaScript</strong> library.</p>
         <p>It can type anything you want</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-8">
      <% @cocktail.doses.each do |dose|%>
        <div class="card-product">
          <%= cl_image_tag 'eDgMQQrHrVAV3b6UZefiFW4p', height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2> <%= dose.ingredient.name %></h2>
            <p><%= dose.description %></p>
            <p><%= link_to 'Delete', dose, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <p><%= link_to 'Edit', dose, method: :edit %></p>
          </div>
        </div>
      <% end %>
      <div class="col-8 col-md-8 text-align-center">
        <div class= "btn" ><%= link_to "<< Back to Cocktails", root_path %>

        </div>
        <div class= "btn" ><%= link_to "Add Ingredients >>", new_cocktail_dose_path(@cocktail) %>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-4">
      <div class="card-product">
        <div class="card-product-infos">
          <h2> HOW TO... </h2>
          <p><%= @cocktail.description_drink %></p>
        </div>
      </div>
    </div>
  </div>
</div>

