<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/298719/pexels-photo-298719.jpeg');">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <% @cocktail.doses.each do |dose|%>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2> <%= dose.ingredient.name %></h2>
            <p><%= dose.description %>.</p>
          </div>
        </div>
      <% end %>

      <div class="btn btn-primar"><%= link_to "<< Back to Cocktails", cocktails_path %></div>
      <div class="btn btn-primar"><%= link_to "Add Ingredients >>", new_cocktail_dose_path(@cocktail) %></div>
    </div>
  </div>
</div>
