<%= render 'components/banner-show' %>
<%#= javascript_pack_tag 'show_cocktail',  'data-turbolinks-track': 'reload', defer: true %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-8">

      <div id="doses">
        <% if @doses.blank? && @ingredients == nil && @cocktail.class != Array %>
          Be the first to add an ingredient for <%= @cocktail.name %> !
        <% else %>
        <div class="your-recipe">
          <% if @cocktail.class != Array %>
            <p class="mt-5 mb-2">Your Recipe</p>
            <% @doses.each do |dose|%>
            <div class="card-product">
              <% if "https://www.thecocktaildb.com/images/ingredients/#{dose.ingredient.name}-Small.png" == nil %>
                <%= image_tag "https://www.thecocktaildb.com/images/ingredients/#{dose.ingredient.name}-Small.png" %>
              <% else %>
                <%= image_tag "ingredient.png" %>
              <% end %>
              <div class="card-infos">
                <div data-cocktail-id="<%= @cocktail.id %>" class="card-product-actions">
                  <h2><%= dose.ingredient.name %></h2>
                  <p><%= dose.description %></p>
                </div>
                <div class="card-product-btns">
                  <%= link_to dose, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <%= link_to edit_cocktail_dose_path(dose) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>

        <div class="internet-recipe">
          <% if @ingredients != nil %>
            <p class="mt-5 mb-2">Internet's Recipe</p>
            <% @hash_ing_qty.each do |ing, qty|%>
              <div class="card-product">
                <%= image_tag "https://www.thecocktaildb.com/images/ingredients/#{ing}-Small.png" %>
                <div class="card-infos">
                  <div data-cocktail-id="<%= @ingredients['idDrink'].to_i %>" class="card-product-actions">
                    <h2><%= ing %></h2>
                    <% if qty != nil %>
                      <p><%= qty %></p>
                    <% else %>
                      <p>As much as you want</p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
          <% end %>
      </div>
    </div>
    <div class="col-4 col-md-4">
        <div class="card-product-infos">
          <h2>Recipe</h2>
          <% if @cocktail.class != Array %>
            <p><%= @cocktail.description_drink %></p>
          <% else %>
            <p><%= @cocktail[0]["strInstructions"] %></p>
          <% end %>
          <% if @ingredients != nil %>
            <div class="block">
              <div class="content">
                <div class="js-excerpt excerpt-hidden">
                  <% @ingredients.each do |key, value| %>
                    <% if value != nil && key.include?("strIBA") %>
                      <p><%= value %></p>
                    <% end %>
                    <% if value != nil && key.include?("strAlcoholic") %>
                      <p><%= value %> Drink</p>
                    <% end %>
                    <% if value != nil && key.include?("strInstructions") %>
                      <p><%= value %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <a role="button" class="js-read-more" href="#">Read More</a>
            </div>
          <% end %>

          <div id="description"></div>

        </div>
    </div>
    <div class="col-12 col-md-12 w-100 mt-3 text-align-center btns-bottom">
      <%= link_to "<< Back to Cocktails", root_path, class: "btn-flat" %>
      <%= link_to "Add Ingredients >>", new_cocktail_dose_path(@cocktail), class: "btn-flat" %>
    </div>
  </div>
</div>

